:root {
  --red: #5F1013;
  --black: #001514;
  --white: #E6E6E6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

main.no-extras {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.left-box {
  background: var(--red);
  grid-column: 1/2;
  grid-row: 1/1;
}
.right-box {
  background: var(--black);
  grid-column: 2/3;
  grid-row: 1/1;
}

/* Header */
.my-header {
  position: fixed;
  right: 0;
  left: 0;
  top: 5%;
}

.my-header h1 {
  font-size:
}
.header-box {
  text-align: center;
  align-content: center;
}
.btn.hdr-btn-style {
  background-color: var(--white);
  border-color: var(--white);
  color: var(--black);
  height: 100px;
  width: 80%;
  font-size: 3rem;
}

/*
BPM buttoms
 */
 .btn.bpm-btn-style {
   background-color: var(--white);
   border-color: var(--white);
   color: var(--black);
   height: 60px;
   width: 40vw;
   margin: 3% 0;
 }


/*
Left Box
 */
.left-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.left-box-content {
  /* padding-top: 20px; */
  width: 80%;
  margin: 0 atuo;
}

/*
Right Box
 */
.right-box {

}
.left-box-content {

}
